body,
html {
  margin: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

header {
  flex-direction: column;
  display: unset;
  height: 64px;
}

.headerBox {
  background-color: #222429;
  height: 64px;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.homeContainer {
  height: 100vh;
}

.checkBoxContainer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddCharButton {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.72);
  width: 11rem;
  height: 3rem;
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px black;
  padding: 0;
  border: 1px solid #540e83;
  border-radius: 12px;
  background-color: #5e1291;
}

.AddCharButton:hover {
  background-color: #540e83;
  -webkit-box-shadow: 0px 0px 10px 2px #540e83;
  box-shadow: 0px 0px 10px 2px #540e83;
}

.newCharContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AddClass {
  text-align: center;
}

.DropdownDivider {
  text-align: center;
}


.characterForm {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bodyPage {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navbarContainer {
  line-height: 60px;
  display: flex;
  align-items: center;
}

/* .checkListIcon{
  font-size: 3rem;
  margin: 0;
  color: white;
  padding-right: 15px;
  padding-top: 6px;
}

.questionIcon {
  font-size: 2.2rem;
  margin: 0;
  padding-right: 50px;
  color: white;
} */

.merchantPage {
  height: calc(100vh - 64px);
  background-color: #181a1f;
}

/* ---MERCHANT BODY--- */

.merchantBody{
  height: 100%;
  padding: 1rem;
  background-color: #282c34;
  text-align: center;
}



/* ---MERCHANT CARD--- */

.merchantCard {
  border: 1px solid white;
  color: white;
  margin: 1rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.merchantGroupTitle {
  color: white;
}

.brandName {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  line-height: 60px;
  padding-left: 5px;
  position: fixed;
  left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.spawnTableList{
  display: inline;
  padding: 0.5rem;
}

#hidden {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
