body,
html {
  margin: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

/* --- HEADER --- */

header {
  flex-direction: column;
  display: unset;
  height: 64px;
  z-index: 1090;
  position: sticky;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
  box-shadow: none !important;
}

.headerBox {
  background-color: #222429;
  height: 64px;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brandName {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  line-height: 60px;
  padding-left: 5px;
  left: 10px;
}

@media only screen and (max-width: 400px) {
  .brandName {
    font-size: 1.2rem;
  }
}

.brandLogo {
  height: 100%;
  padding-right: 1rem;
}

/* ---END OF HEADER --- */

.homeContainer {
  height: 100vh;
}

.checkBoxContainer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddCharButton {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.72);
  width: 11rem;
  height: 3rem;
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px black;
  padding: 0;
  border: 1px solid #540e83;
  border-radius: 12px;
  background-color: #5e1291;
}

.AddCharButton:hover {
  background-color: #540e83;
  -webkit-box-shadow: 0px 0px 10px 2px #540e83;
  box-shadow: 0px 0px 10px 2px #540e83;
}

.newCharContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AddClass {
  text-align: center;
}

.DropdownDivider {
  text-align: center;
}

.characterForm {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bodyPage {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navbarContainer {
  line-height: 60px;
  display: flex;
  align-items: center;
}

.merchantPage {
  height: 100vh;
  background-color: #282c34;
}

/* ---MERCHANT BODY--- */

.dropdownButton {
  position: relative;
  z-index: 1;
}

.dropdown-menu {
  text-align: center !important;
  left: 50% !important;
  transform: translate(-50%, 40px) !important;
}

.dropdown-item {
  padding: 0 !important;
}

.merchantBody {
  /* height: 100vh; */
  padding: 1rem;
  background-color: #282c34;
  text-align: center;
}

.merchantList {
  max-width: 90%;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-gap: 1rem;
}

.locationImage {
  max-width: 100%;
}

/* ---MERCHANT CARD--- */

.merchantCard {
  max-width: 90%;
  border: 1px solid white;
  color: white;
  margin: 1rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #21252e;
}

.merchantGroupTitle {
  color: white;
}

.cardButtonGroup {
  display: flex;
}

.deleteButton,
.showSpawnButton {
  margin-bottom: 1rem;
}

.showSpawnButton {
  margin-right: 0.2rem;
}

/* ---MODAL---  */

.modal-content {
  background-color: #282c34 !important;
  text-align: center;
}

.continentModalTitle {
  color: white;
}

.modal-footer {
  border: none !important;
  justify-content: center !important;
  padding-top: 0 !important;
}

/* --- CAROUSEL --- */

.TEST {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.itemZoneName {
  color: white;
}

.carousel-control-next {
  padding-left: 2rem !important;
}
.carousel-control-prev {
  padding-right: 2rem !important;
}

/* .carousel-control-next-icon, .carousel-control-prev-icon {
  border: 1px solid black; 
} */

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230275d8 %27%3e%3cpath d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230275d8 %27%3e%3cpath d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/%3e%3c/svg%3e") !important;
}

.carousel-indicators {
  margin-bottom: 0 !important;
  padding-top: 2rem !important;
  bottom: -20px !important;
}

.carousel-indicators > button {
  background-color: #0275d8 !important;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.spawnTableList {
  padding: 0.3rem;
  display: inline;
}
.ulSpawnTableList {
  display: inline;
}

.spawnTableButton {
  margin-bottom: 0.8rem !important;
}

#hidden {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
